@charset "utf-8";
/* CSS Document */

body {
	background-image:
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header {
	position: fixed;
	width: 100%;
	top: 100px;
	z-index: 100;
}

#menu {
	position:absolute;
	width:475px;
	height:95px;
	z-index:101;
	left: 561px;
	top: 15px;
	clear:both;
}

.menuLink {

float:left;
width:100px;
height:40px;
margin:25px;
z-index: 200;

}

#home {
	position:absolute;
	left:0px;
	top: 0px;
}

#about {
	position:absolute;
	left: 2400px;
	top: 0px;
}

#findUs {
	position: absolute;
	left: 2400px;
	top: 2400px;
}

#shop {
	position: absolute;
	left: 0px;
	top: 2400px;
}
	
